@using OutOfOffice_Main.Models.Entities
@model List<ApprovalRequest>

@{
    ViewData["Title"] = "Approval Requests";
}

<div>
    <h1>Approval Requests:</h1>

    @if (Model.Count < 1)
    {
        <h3>List empty</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.ActionLink("Id", "ApprovalRequests", new { sortBy = string.Empty }, new { @class = "sort-link" })
                        </th>
                    <th scope="col">
                        @Html.ActionLink("Approver full name", "ApprovalRequests", new { sortBy = "ApproverFullName" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("LeaveRequestId", "ApprovalRequests", new { sortBy = "LeaveRequestId" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Status", "ApprovalRequests", new { sortBy = "Status" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <th scope="row">@request.Id</th>
                        <td>@request.Approver.FullName</td>
                        <td>@request.LeaveRequestId</td>
                        <td>@request.Status</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Lists" asp-action="ApprovalRequestDetails" asp-route-id="@request.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
